.header{
    position: sticky;
    top: 0;
    text-align:center;
}

li{
    padding: 10px;
}
li>a{
    text-decoration: none;
    color: var(--turquoise);
}

:root{

    /* Color */
    --turquoise: #03fcba;
    --red: #550000;
    --link: #c854eb;
    --visitedlink: #9a2dbb;
    --blue: #0E21A1;
    --text: white;

    --header-background: rgba(21, 30, 34, 0.7);
    --left-background: rgba(54, 77, 87, 0.7);
}

body {
    margin: 0px;
    padding: 0px;
    background-color:black;
    color:var(--turquoise);
    background-image: url(../images/depths.png);
    background-size: cover;
    background-repeat: no-repeat;
}