:root{

    /* Color */
    --turquoise: #03fcba;
    --red: #550000;
    --link: #c854eb;
    --visitedlink: #9a2dbb;
    --blue: #0E21A1;
    --text: white;

    --header-background: rgba(21, 30, 34, 0.7);
    --left-background: rgba(54, 77, 87, 0.7);
}

.header{  /* gère la bande de header*/
  text-align:center;
  background-color: var(--header-background);
  padding: 10px;
}

.content{
    padding-top: 100px;
    font-family:monospace;
    display:grid;
    grid-template-areas:
        "content-left content-right";
    grid-template-columns: repeat(auto);
}

/**{
    border: 1px black solid;
}*/

.c1{
    padding:50px;
    grid-area: content-left;
}
.c2{
    grid-area: content-right;
    padding:50px;
}

commandes .header{
  grid-area: header;
}

.admin h3{
  justify-content:center;
}

.content div>div{
  border-top-style: double;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../images/background.png");
  background-size: cover;
  color: var(--text);
}






