@import "style.css";

.content{
    padding-top: 10vh;
    padding-bottom: 15vh;
    font-family:monospace;
    display:grid;
    grid-template-areas:
        "content-left content-right";
    grid-template-columns: repeat(auto);
}

/**{
    border: 1px black solid;
}*/

.c1{
    padding:50px;
    grid-area: content-left;
}
.c2{
    grid-area: content-right;
    padding:50px;
}

commandes .header{
  grid-area: header;
}

.admin h3{
  justify-content:center;
}

.content div>div{
  border-top-style: double;
}


@media screen and (max-width: 700px) {
    .content{
      padding-top: 100px;
      font-family:monospace;
      display:grid;
      grid-template-areas:
          "content-left"
          "content-right";
      grid-template-rows: repeat(auto);
    }

    body {
      background-size: cover;
    }
}






