@import "style.css";


fieldset{
    border: none;
    background-color: var(--left-background);

    height: var(--left-height);
    width: 40%;
    min-width: 350px;

    color: var(--footer-text-color);

    text-align: center;
    margin: 0 auto;
}


.div1{
    position: relative;
    width: 250px;
    margin: 0 auto;
    border-radius: 15px;
}

input {
    width: 100%;
    padding: 12px 10px;
    border-radius: 20px;
    border:none;
    outline: none;
}

label{
    position: absolute;
    left: 10px;
    top: 12px;
    color: #777;
    background: white;
    padding: 0 4px;
    transition: 0.3s;
    pointer-events: none;
    border-radius: 20px;
}

input:focus + label,
input:valid + label {
    top: -8px;
    font-size: 12px;
    color: #3498db;
}

