@import "style.css";


body {
    overflow: hidden;
}

fieldset{
    border: none;
    background-color: var(--left-background);

    height: var(--left-height);
    width: 40%;
    min-width: 350px;

    color: var(--footer-text-color);

    text-align: center;
    margin: 0 auto;

    margin-top: 20px;
    overflow-y:auto;
}


.div1{
    position: relative;
    width: 250px;
    margin: 0 auto;
    border-radius: 15px;
}

input {
    width: 90%; 
    padding: 12px 10px;
    border-radius: 20px;
    border:none;
    outline: none;
}



input:focus + label,
input:valid + label {
    top: -8px;
    font-size: 18px;
    color: #3498db;
}

form{
    overflow-y:auto;
}
form>div{
    padding: 3vh 0;
}



/*
@media screen and (max-height: 600px) {

    fieldset>div {
        padding: 5px 0;
    }

    fieldset>h2 {
        margin-bottom: 1vh;
    }

}

*/  

