@import "style.css";


fieldset{
    border: none;
    background-color: var(--left-background);

    height: var(--left-height);
    width: 40%;
    min-width: 350px;

    color: var(--footer-text-color);

    text-align: center;
    margin: 0 auto;
}


.div1{
    position: relative;
    width: 250px;
    margin: 0 auto;
    border-radius: 15px;
}

input {
    width: 90%;
    padding: 12px 10px;
    border-radius: 20px;
    border:none;
    outline: none;
}



input:focus + label,
input:valid + label {
    top: -8px;
    font-size: 18px;
    color: #3498db;
}

form>div{
    padding: 3vh 0;
}