:root {

    /* Sizes */

    --header-height: 70px; /*clamp(40px, 10vh, 100px);*/
    --header-border-width: 2px;
    --footer-height: 6.5vh;
    --left-width: clamp(50px, 25vw, 200px);
    --left-height: calc(100vh - var(--footer-height) - var(--header-height));

    --text-size: 8px;


    /* Color */

    --link: #c854eb;
    --visitedlink: #9a2dbb;
    --linkhover: #e680ec;

    --main-text-color: rgb(212, 249, 255);
    --footer-text-color: rgb(34, 34, 135);

    --header-background: rgba(21, 30, 34, 0.7);
    --header-border: rgba(21, 30, 34, 0.9);
    --left-background: rgba(1, 250, 250, 0.7);
    --left-border: rgba(152, 224, 224, 0.9);

}



@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}



    /* Main */

body {
	color: var(--main-text-color);
	text-align: center;
	font-size: 16px;

	padding: 0px;
	margin: 0px;

    background-image: url("../images/background.png");
    background-size: auto 100vh;

}

a {
    text-decoration: none;
}

button:hover {
    animation: zoom 0.3s ease-in-out forwards;
}



    /* Grid */
/*main{
    
    display: grid;
    grid-template-areas:
        "header header header"
        "username empty empty"
        "lefter data data";
    grid-template-columns: 50px auto;
    grid-template-rows:auto 50px 50px;
    row-gap: 20px;
}*/
/*Header*/
main>header {
    grid-area:header;
    display: grid;
    grid-template-columns: auto 1fr auto;

    background-color: var(--header-background);

    position: sticky;
    top: 0;

    color: var(--main-text-color);
    text-align: center;

    width: 100vw;
    height: var(--header-height);

    border-bottom: var(--header-border-width) solid var(--header-border);
}

main>header h1 {
    padding-left: 2vw;
}

main>header div {
    margin: auto;
    padding-right: 1vw;
    font-size: 16px;
}

main>header a {
    color: var(--link);
}

main>header a:visited {
    color: var(--visitedlink);
}

main>header a:hover {
    color: var(--linkhover);
}

/* Core */
.core{
    margin:50px;
    /*border:8px black dotted;*/
    margin: auto;
    width:80%;
    background-color:rgba(48, 40, 44, 0.8);
}

main>aside{
    float:left;
    width:100px;
    /*border: 5px black groove;*/
}
.core span{
    display:inline-block;
    margin:5px;
}
/*.core .data1{
    border: 5px purple solid;
}*/
.core aside.number{
    /*border: 5px yellow solid;*/
    float:left;
}
.core .data1{
    margin:auto;
    padding:auto;
    width:50%;
}
.core span.adress img{
    margin: 0 10px;
    background-color:black;
    border-radius: 15px;
}/*
.core span.command{
    border: 5px blue solid;
}
.core span.comment{
    border: 5px red dotted;
}*/

main>footer {

    position: fixed;
    bottom: 0;

    color: var(--footer-text-color);

    width: 100vw;
    height: var(--footer-height);
}

main>footer>div {
    margin-top: 2vh;
}

main>footer a {
    color: var(--footer-text-color);
}



@media screen and (max-width: 700px) {

    main>aside.left {
        display: none;
    }

    main>section>h1 {
        font-size: 26px;
    }

}