@import "connexion_inscription_profil.css";    


h2{
    padding: 5vh;
    text-align: center;
}

label.star {
    position: relative;
    margin: 5px;
    font-family: FontAwesome;
    background: none;
    /*display: inline-block;*/
    cursor:pointer;
}

.rating input{
    display: none;
}

.rating input:checked~label:not(.rating input:checked+label){
    color:white;
}




