
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.profil {
  width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.bloc {
  margin-bottom: 30px;
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.toggle-edit {
  display: none; /* Cache la checkbox */
}


.edit-btn {
  cursor: pointer;
  color: #3498db;
}

textarea, input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
