:root {

    /* Sizes */

    --header-height: 70px; /*clamp(40px, 10vh, 100px);*/
    --header-border-width: 2px;
    --footer-height: 6.5vh;
    --left-width: clamp(50px, 25vw, 200px);
    --left-height: calc(100vh - var(--footer-height) - var(--header-height));

    --text-size: 8px;


    /* Color */

    --link: #c854eb;
    --visitedlink: #9a2dbb;
    --linkhover: #e680ec;

    --main-text-color: rgb(233, 252, 255);
    --footer-text-color: rgb(27, 27, 110);

    --header-background: rgba(21, 30, 34, 0.7);
    --header-border: rgba(21, 30, 34, 0.9);
    --left-background: rgba(1, 250, 250, 0.7);
    --left-border: rgba(152, 224, 224, 0.9);

}



@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}



    /* Main */

body {
	color: var(--main-text-color);
	text-align: center;
	font-size: 16px;

	padding: 0px;
	margin: 0px;

    background-image: url("../images/background.png");
    background-size: auto 100vh;

}

a {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--visitedlink);
}

a:hover {
    color: var(--linkhover);
}


button:hover {
    animation: zoom 0.3s ease-in-out forwards;
}



    /* Grid */

body>main {
	display: grid;
	grid-template-areas:
		"header header"
		"left-aside section "
		"footer footer";
	grid-template-rows: 50px auto 50px;
	grid-template-columns: 50px auto;
}


main>header {
	grid-area: header;

    display: grid;
    grid-template-columns: auto 1fr auto;

    background-color: var(--header-background);

    position: sticky;
    top: 0;

    color: var(--main-text-color);
    text-align: center;

    width: 100vw;
    height: var(--header-height);

    border-bottom: var(--header-border-width) solid var(--header-border);
}

main>header h1 {
    padding-left: 2vw;
}

main>header div {
    margin: auto;
    padding-right: 1vw;
    font-size: 16px;
}



main>aside.left {
    grid-area: left-aside;

    margin-left: 1vw;
    
    border-left: 2px solid var(--left-border);
    border-right: 2px solid var(--left-border);

    background-color: var(--left-background);

    position: sticky;
    top: calc(var(--header-height) + var(--header-border-width));

    width: var(--left-width);
    min-width: 180px;
    height: var(--left-height);

    text-align: center;
}


main>section {
	grid-area: section;


}

section>h1 {
    padding-top: 5vh;
}

main>footer {
	grid-area: footer;

    position: fixed;
    bottom: 0;

    color: var(--footer-text-color);

    width: 100vw;
    height: var(--footer-height);
}

main>footer>div {
    margin-top: 1vh;
}

