:root{

    /* Color */
    --turquoise: #03fcba;
    --red: #550000;
    --link: #c854eb;
    --visitedlink: #9a2dbb;
    --blue: #0E21A1;
    --text: white;

    --header-background: rgba(21, 30, 34, 0.7);
    --left-background: rgba(54, 77, 87, 0.7);
}




header>div{
    text-align: center;
}

p {
    color: var(--text);
}

h1 {
    color: var(--text);
    margin-left: 100px;
}

a {
    color: var(--link);
}

a:visited{
    color: var(--visitedlink);
}


button:hover {
    animation: zoom 0.3s ease-in-out forwards;
}


@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.center {
    height: 100vh;
    display: grid;
    place-items: center;
}

h2>div{
    font-size: 64px;
    font-style: normal
}

body>main{
    display: grid;
    grid-template-areas:
        "header header"
        "leftside section"
        "leftside footer";
    grid-template-rows: 50 auto 50;
    grid-template-columns: 50 auto;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/background.png");
    background-size: cover;
}


/* Sections */

header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-area: header;
    background-color: var(--header-background);
    position: sticky;
    top: 0;
    color: white;
    text-align: center;
    width: 100vw;
    height: 100px;
}

header div {
    margin: auto;
}


leftside {
    display: grid;
    grid-template-columns: auto;
    grid-area: leftside;
    background-color: var(--left-background);

    max-width: 300px;
    height: 200px;

    text-align: center;
}



section {
    grid-area: section;
}


