
.container{
    display:flex;
    gap: 10px;
}

.box{
    text-align:center;
    color:black;
    background-image: url(magma.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    display: inline-block;
    border:2px solid red;
}

[plat="1"]{
    background-image: url(bouchee.jpg);
}

[plat="2"]{
    background-image: url(Savouroche.webp);
}

[plat="3"]{
    background-image: url(pommedor.jpeg);
}

[plat="4"]{
    background-image: url(icon.png);
}