:root{
    --turquoise: #03fcba;
    --rouge: #F74343;
    --beige: #CCA39B;
    --noir: #120A0A;
    --bleu: #0E21A1;
    --orange: #F7A30F;
}

/*couleur des fonds: beige CCA39B
couleur des polices: noir 120A0A
couleurs liens (visités ou non): rouge F74343, turquoise 256657
titres: bleu 0E21A1
paragraphes: orange F7A30F
bordure de formulaire: rouge F74343
taille du texte : 8px*/

h1{
    text-align: center;
}

aside {
    float: right;
    width:40%;
}

a:visited{
    color: var(--turquoise);
}

button:hover {
    animation: zoom 0.3s ease-in-out forwards;
}
bande{
    text-align: center;
    float:center;
    color: var(--rouge);
}
@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

