
body{
    background-image:url(background.png);
    background-size:contain;
}

a{
    color:#c854eb;
}

a:visited{
    color: #9a2dbb;
}

h2{
    margin:0 auto;
    color:black;
}

h3{
    margin:0 auto;
    color:black;
}

fieldset{
    border-style: solid;
    border-width: 15px;
    background-color:grey;

    border-radius: 15px;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.div1{
    position: relative;
    width: 250px;
    margin: 0 auto;
    border-radius: 15px;
}

input.i1 {
    width: 100%;
    padding: 12px 10px;
    border-radius: 20px;
    border:none;
    outline: none;
}

label.lab1{
    position: absolute;
    left: 10px;
    top: 12px;
    color: #777;
    background: white;
    padding: 0 4px;
    transition: 0.3s;
    pointer-events: none;
    border-radius: 20px;
}

label.lab2{
    left:-30px;
    position: absolute;
    color: #777;
    background: white;
    padding: 0 4px;
    border-radius: 10px;
}
label.lab3{
    left: -120px;
    bottom: 10px;
    
    position:absolute;
    color: #777;
    background: white;
    padding:0 5px;
    border-radius: 10px;
}

label span {
    display: block;
}

select{
    border-radius: 10px;
    
}

input:focus + label,
input:valid + label {
    top: -8px;
    font-size: 12px;
    color: #3498db;
}

button.login{
    background-color:whitesmoke;
    color:black;      
    padding: 5px 10px;       
    border: none;              
    border-radius: 10px;        
    cursor: pointer;         
    font-size: 16px;
}


::-webkit-scrollbar {
    display: none;
}
