:root{

    /* Color */
    --turquoise: #03fcba;
    --red: #550000;

    --link: #c854eb;
    --visitedlink: #9a2dbb;
    --linkhover: #e680ec;

    --blue: #0E21A1;
    --text: white;

    --header-background: rgba(21, 30, 34, 0.7);
    --header-border: rgba(21, 30, 34, 0.9);
    --left-background: rgba(54, 77, 87, 0.7);
    --left-border: rgba(54, 77, 87, 0.9);
}




header>div{
    text-align: center;
}

p {
    color: var(--text);
}
--left-border
h1 {
    color: var(--text);
    margin-left: 2vw;
}


a {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--visitedlink);
}

a:hover {
    color: var(--linkhover);
}


button:hover {
    animation: zoom 0.3s ease-in-out forwards;
}


@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.center {
    height: 100vh;
    display: grid;
    place-items: center;
}

h2>div{
    font-size: 64px;
    font-style: normal;
}

body>main{
    display: grid;
    grid-template-areas:
        "header header"
        "aside-left section"
        "footer footer";
    grid-template-rows: 50 1fr 50;
    grid-template-columns: 50 auto;
}

body {
    margin: 0px;
    padding: 0px;

    background-image: url("../images/background.png");
    background-size: auto 400%;
}


/* Sections */

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-area: header;

    background-color: var(--header-background);

    position: sticky;
    top: 0;

    color: var(--text);
    text-align: center;

    width: 100vw;
    height: 100px;

    border-bottom: 2px solid var(--header-border);
}

header h1 {
    padding-left: 1vw;
}

header div {
    margin: auto;
}




aside.left {
    display: grid;  
    grid-area: aside-left;

    border-right: 2px solid var(--left-border);

    background-color: var(--left-background);

    position: sticky;
    top: 100px;

    min-width: 200px;
    max-width: 15vw;

    text-align: center;
}



section {
    display: grid;
    grid-area: section;


    color: var(--text);
}


footer {
    display: grid;
    height: 110px;
    
}




    /* User */


button.user {
    margin-right: 1vw;
    border-radius: 20px;
    border: none;
}

button.user img {
    width: 3vw;
    min-width: 50px;
}


button.user:hover + .user-dropdown {
  display: contents;
}


.user-dropdown {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
